/*éléments de base*/ /*éléments de base*/ /*éléments de base*/
@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

	body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: #181818;
    height: 100vh;
}

#bloc_page {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin:auto;
    padding-left: calc(50%-var(--bloc_page)/2);
    padding-right:calc(50%-var(--bloc_page)/2);  
}

.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.decorationNone {
    text-decoration: none;
}
.bordureNone {
    border: none;
}

.colorBleu {
    color: #0065FC
}

.colorBleuClair {
    color: #deebff;
}

.colorGris {
    color: #f2f2f2;
}

.backBleu {
    background-color: #0065FC;
}
.backBleuClair {
    background-color: #deebff;
}

.backGris {
    background-color: #f2f2f2;
}

.colorLien2 {
    color:black;
}


/* Nav */  /*Nav*/  /*Nav*/  /*Nav*/
.navBar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.navBar ul {
    display:flex;
    align-items: center;
    list-style-type: none;
}

.navBar ul li a {
    padding: 30px;
}


.sizeLien {
    height: 99px;
}
.bold {
    font-weight: 900;
}
/* Header */  /* Header */  /*  Header */

.slogan {
    width: auto;
    height: 100px;
    padding: 0 6PX;
}

.txtSlogan {
    font-size: 1.1em;
}

.bordureNav {
    border-top: 1px solid transparent;
}
.bordureNav:hover {
    border-top: 1px solid #0065FC;
    cursor: pointer;
    color: #0065FC;
}

.marglogo {
    margin-top:30px;
}
  
/* ma header*/ /* ma header*/ /* ma header*/
.barSearch {
    display:flex;
    justify-content: space-betWeen;
}
.bordureSearch {
    width: 460px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}

.paddingSearch {
padding-left: 20px;
}

.recherche {
    height: 50px;
    width: 230px;
    padding-left: 0px;
    font-size: 18px;
    color:black;
    font-weight: bold;
}

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: 0.5px solid #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Filtres */ /* Filtres*/ /* Filtres*/

.searchFilters {
        display: flex;
        margin-top: 50px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
.searchFiltersTitle {
        margin: 0 2rem 1rem 0;
        margin-left: 0.1rem;
        display: flex;
        align-items: center;
        font-size: bolder;
    }
.searchFiltersFilter {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        border: 2px solid #f2f2f2;
        border-radius: 2rem;
        margin-bottom: 1rem;
        cursor: pointer;
        transition-duration: 0.1s;
        font-weight: bolder;
    }
    .searchFiltersFilter:last-child {
        margin-right: 0;
    }
    .searchFiltersFilter:hover {
        background-color: #f3f8ff;
        transform: scale(1.015);
    }
    .searchFiltersFilterWrapicon {
        background-color: #deebff;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        min-height: 3.5rem;
        min-width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -2px;
    }

    .searchFiltersFilterTitle {
        margin: 0 1rem;
        font-size: bolder;
    }
 

/* INFOS icone */
.infos {
    display: flex;
    align-items: center;
}

.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 5px;
}

/* Hébergements*/ /* Hébergements*/

#hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.titre_hebergements_a_marseille {
    margin: 0px;
    font-size: bolder;
    margin-bottom: 28px;
}

#hebergements_a_marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 25px 30px 25px 30px;
    width: 80%;
    max-width: 840px;
}

.container_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 15px;
}

.box_carte {
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    max-width: 300px;
    height: auto;
    margin-bottom: 38px;
    box-shadow: 10px 25px 25px grey;
}

.hebergement_image {
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    flex-shrink: 0;
}

.photo_hebergement {
    width:250px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hebergement_contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;
}

.titre_contenu {
    color: black;
}

.prix_contenu {
    color: black;
}

.etoiles {
    padding-bottom: 5px;
}


/*bloc populaire*/ /*bloc populaire*/

#containerPop {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    width: 80%;
    max-width: 420px;
}

.titre_les_plus_populaires {
    font-size: bolder;
    margin-bottom: 28px;
}

.fa-chart-line {
    color: black;
    
}

.hebergement_les_plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box_populaire_carte {
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    background-color: white;
    padding: 6px 56px 6px 6px;
    max-width: 284px;
    max-height: 135px;
    margin-bottom: 29px;
}

.photo_populaire {
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hebergement_populaire_contenu {
    padding: 7px 0px 7px 20px;
    display: flex;
    flex-direction: column;
}

.titre_populaire_contenu {
    padding-bottom: 14px;
    color: black;
}

.prix_populaire_contenu {
    padding-bottom: 30px;
    color: black;
}

.etoilespop {
    max-width: 94px;
    max-height: 15px;
}

/* activites */ /* activites */ /* activites */

#ActivitesMarseille {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    width: 80%;
    max-width: 1300px;
}

.titre_activites {
    margin-bottom: 27px;
    font-size: bolder;
}

.activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activite2et3,
.activite5et6 {
    display: flex;
    flex-direction: column;
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6 {
    box-shadow: 0 0 20px #0000002e;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}

.photo_activite1,
.photo_activite2,
.photo_activite3,
.photo_activite4,
.photo_activite5,
.photo_activite6 {
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
}

.photo_activite11,
.photo_activite22,
.photo_activite33,
.photo_activite44,
.photo_activite55,
.photo_activite66 {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Activités_à_Marseille h1 {
    font-size: large;
}

#Activités_à_Marseille h2 {
    font-size: medium;
}

/* footer*/  /* footer*/ /* footer*/

.footer {
    height: 300px;
    margin-top: 100px;
}

.sizeBlocFoot {
    height: 150px;
    width: 400px;
}

.margeBlocFoot1 {
margin-left: 5%;
}

.margeBlocFoot3 {
margin-right: 15%;  
}
