/* paramètres généraux de police */
@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    font-family: 'Raleway', sans-serif;
    color: #181818;
    margin: 0;
}
#bloc_page {
    box-sizing: border-box;
    flex: 1 0 auto;
    width: 98%;
    margin: auto;
}
header {
    width: 100%;
}
section {
    width: 100%;
}
footer {
    width: 100%;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.decorationNone {
    text-decoration: none;
}
.bordureNone {
    border: none;
}
.zoom {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}   
.zoom a:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.cible .box_carte:hover {
    border: 3px solid white;
    box-shadow: 10px 25px 25px grey;
}
.target .box_populaire_carte:hover {
    border: 2px solid white;
    box-shadow: 10px 20px 20px grey;
}
.colorBleu {
    color: #0065FC
}
.colorBleuClair {
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}
.backBleu {
    background-color: #0065FC;
}
.backBleuClair {
    background-color: #deebff;
}
.backGris {
    background-color: #f2f2f2;
}
.colorLien2 {
    color:black;
}
.bold {
    font-weight: bolder;
}
/* ma navigation */
.sizeNav {
    height: 100px;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sizeLiens {
    width: 100%;
}
.sizeLien12 {
    margin-left: 60%;
}
.sizeLien {
    width: 140px;
    height: 99px;
    margin-right: 5%;
}
.inscription {
    font-weight: 900;
    color: #0065FC;
    text-decoration: none;
}
.bordureNav {
        border-top: 1px solid transparent;
    }
.bordureNav:hover {
        border-top: 1px solid #0065FC;
        cursor: pointer;
        color: #0065FC;
    }  
.logo {
        width: 120px;
        height: 50px;
        margin-left: 20%;
    }
/* Ma header  avec slogan et filtres */
.slogan {
    width: auto;
    height: 100px;
    margin-left: 2rem;
    padding: 0 6PX;
}
.txtSlogan {
    font-size: 1.1vw;
}
.titreslogan {
    font-weight: bold;
    font-size: 1.8vw;
}
.barSearch {
    display:flex;
    justify-content: space-betWeen;
    margin-left: 2rem;
    width: 460px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 1.4rem;
    color:black;
    font-weight: bold;
    padding-left: 20px;
}
.icone {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonSearch {
    height: 50px;
    width: 160px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: 0.5px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
}
.desktopNone {
    display: none;
}
/* les filtres dans ma header */
.Filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 2rem;
}
.FiltersTitle {
    margin: 0 2rem 1rem 0;
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.searchFiltersFilter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 2rem;
    border: 2px solid #f2f2f2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}
.searchFiltersFilter:last-child {
    margin-right: 0;
}
    .searchFiltersFilter:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
    }
    .searchFiltersFilterWrapicon {
    background-color: #deebff;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    }
    .searchFiltersFilterTitle {
    margin: 0 1rem;
    font-weight: bold;
    }
/* INFOS icone */
.infos {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 2rem;
}
/* Hébergements*/ /* Hébergements*/
#hebergement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
}
.titrehebergements_a_marseille {
    display: flex;
    align-self: flex-start;
    padding-left: 2%;
    font-weight: 900;
    margin-left: 0%;
    margin-top: 28px;
}
#hebergements_marseille {
    flex: 2;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 750px;
    margin-right: 1rem;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.afficher_plus {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 1rem;
}
.bloc1hosting {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.bloc2hosting {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
.box_carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 235px;
    height: auto;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 5px 15px 15px grey;
}
.photo_hebergement {
    max-width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.hebergement_contenu {
    width: 90%;
    padding: 5px;
}
/*bloc populaire*/
#containerPop {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 750px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.titre_les_plus_populaires {
    display: flex;
    justify-content: space-between;
    margin: 28px 20px 20px 20px;
    font-weight: 900;
}
.fa-chart-line {
    color: black;
}
.box_populaire_carte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 5px solid #f2f2f2;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}
.photo_populaire {
    width: 35%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.hebergement_populaire_contenu {
    width: 60%;
    padding-left: 5%;
}
/* le bloc activitees*/
.cardActivity {
    width: 95%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}
.Titre_Activites {
    font-weight: 900;
    margin-top: 4rem;
    margin-left: 3%;
}
.titre_photo_activite {
    font-weight: bolder;
    margin-left: 1.8rem;
}
.card1,
.card3 {
    width: 23%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}
.un,
.trois {
    color: black;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 10px 10px #F2F2F2;
    text-decoration: none;
}
.trois img,
.un img {
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
}
.card2 {
    width: 23%;
    height: 450Px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second1 {
    width: 100%;
    height: 60%;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 1px 1px 12px #f2f2f2;
    text-decoration: none;
}
.second2 {
    width: 100%;
    height: 30%;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    box-shadow: 1px 1px 12px #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    text-decoration: none;
}
.second1 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    background-image: none !important;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
}
.second2 img {
    height: 65%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
}
.card4 {
    width: 23%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.four1,
.four2 {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    box-shadow: 1px 1px 12px #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
}
.four1 img,
.four2 img {
    width: 99%;
    height: 68%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
}
/* le pied de page */
.footerContenu {
    height: 300px;
    margin-top: 100px;
    color: black; 
}
.sizeBlocFoot {
    height: 150px;
    width: 33%;
    font-size: 1.1rem;
}
.margeBlocFoot1 {
margin-left: 4rem;
}
.margeBlocFoot3 {
margin-right: 4rem;  
}
/* mise en place des médias queries pour ma responsive */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
#bloc_page {
    padding: 0;
    width: 100%;
    margin: auto;
}
header {
    width: 92%;
    margin: auto;
}
.sizeNav {
    width: 70%;
}
.barSearch {
    margin-top: 20px;
    margin-bottom: 30px;
}
.Filters {
    width: 95%;
    margin-left: 30px;
    margin-right: 0;
}
.FiltersTitle {
    margin-right: 15px;
}
.searchFiltersFilter {
    margin-right: 15px;
}
#hebergement {
    width: 95%;
    padding: 0;
}
#containerPop {
    width: 90%;
    min-height: auto;
    margin: auto;
    padding: 28px 20px 25px 20px;
    margin-bottom: 25px;
    margin-top: 15px;
}
#hebergements_marseille {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 3px;
    margin-top: 50px;
    padding: 28px 20px 25px 20px;
}
.Titre_Activites {
    padding-left: 10px;
}
.cardActivity {
    width: 90%;
    margin: auto;
}
footer {
    width: 90%;
    margin: auto;
}
.sizeBlocFoot {
    height: 300px;
}
}
@media only screen and (max-width: 1224px) {
    #hebergement {
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 1023px) {  
    .bloc1hosting {
        flex-direction: column;
        margin: 0;
    }
    .bloc2hosting {
        flex-direction: column;
        margin: 0;
    }
}
@media screen and (min-width: 824px) and (max-width: 1023px) {
    header {
        width: 100%;
        margin: auto;
        Padding: 0;
    }
    .sizeNav {
        width: 50%;
    }
    .Filters {
        width: 100%;
    }
    #hebergement {
        width: 95%;
        padding: 0;
        margin: auto;
    }
    #containerPop {
        padding-bottom: 10px;
        margin-bottom: 30px;
        width: 96%;
        min-height: auto;
    }
    .fa-chart-line {
        padding-left: 30%;
    }
    #hebergements_marseille {
        width: 96%;
        height: 100%;
        margin-top: 50px;
        padding: 28px 16px 20px 16px;
    }
    .titrehebergements_a_marseille {
        margin-left: 0px;
    }
    .box_carte {
        width: 610px;
        max-width: 100%;
        height: 320px;
        border: 5px solid #f2f2f2;
        border-radius: 20px;
        padding: 5px;
        box-shadow: none;
        margin-bottom: 45px;
    }
    .photo_hebergement {
        width: 100%;
        height: 200px;
    }
    .cardActivity {
    margin: auto;
    width: 94%;
    margin-bottom: 20px;
}
footer {
    margin-top: 20px;
    margin: auto;
    width: 94%;
}
.sizeBlocFoot {
    font-size: 1rem;
}
}
@media screen and (max-width: 823px) {
    header {
    width: 92%;
    margin: auto;
    padding: 0;
    }
    .sizeNav{
        width: 100%;
    }
    .logo {
        margin-left: 0;
    }
    .sizeLien12 {
        margin-left: 20%;
    }
    .slogan {
        margin-left: 0;
    }
    .titreslogan {
        font-size: 22px;
        font-weight: bolder;
        padding-left: 0;
    }
    .barSearch {
        margin-left: 0;
    }
    .Filters {
        margin-left: 0;
    }
    .FiltersTitle {
        margin-right: 80%;
    }
    .searchFiltersFilter {
        margin-right: 10%;
        margin-left: 70px;
    }
    .parentIcon {
        margin-left: 0;
    }
    #hebergment {
        width: 96%;
        margin: auto;
        padding: 0;
    }
    #containerPop {
        padding-bottom: 30px;
        margin-bottom: 30px;
        width: 92%;
        margin: auto;
    }
    .titre_les_plus_populaires {
        width: 92%;
    }
    .fa-chart-line {
        padding-right: 5px;
    }
    #hebergements_marseille {
        width: 92%;
        height: 100%;
        margin: auto;
        padding-top: 20px;
        margin-top: 50px;
        background-color: transparent;
    }
    .titrehebergements_a_marseille {
        margin-left: 20px;
        font-size: 1.8rem;
    }
    .box_carte {
        min-width: 610px;
        width: 90%;
        height: 300px;
        margin-bottom: 45px;
    }
    .photo_hebergement {
        width: 100%;
        height: 60%;
    }
    .cardActivity {
        width: 92%;
        margin: auto;
        padding: 0;
    }
    footer {
        width: 94%;
        margin: auto;
    }
    .footerContenu {
    margin-top: 30px;
    font-size: 0.9em;
}
}
@media screen and (max-width: 767px) {
    header {
    width: 92%;
    margin: auto;
}
    /* réajustement du slogan en responsive */
    .titreslogan {
    font-weight: bolder;
    font-size: 1.3rem;
    }
    .txtSlogan {
    font-size: 1rem;
    }
 /* changement de la police pour mobile */
    .size {
    font-size: 1rem;
    margin-right: 2rem;
    }
    #hebergement {
        width: 96%;
        margin: auto;
    }
    #containerPop {
    width: 92%; 
    margin: auto;
    }
    #hebergements_marseille {
        width: 92%;
        margin: auto;
        margin-right: 0%;
        margin-top: 25px;
        margin-bottom: 5px;
        padding: 0%;
        background-color: white;
    }
    .bloc1hosting {
        flex-direction: column;
        margin-bottom: 0;
    }
    .bloc2hosting {
        flex-direction: column;
        margin-top: 0;
    }
    .box_carte {
        margin-bottom: 15px;
        margin-left: 0%;
        margin-right: 0%;
        background-color: white;
        box-shadow: 1px 10px 10px #f2f2f2;
    }
    .photo_hebergement {
        object-fit: cover;
        width: 100%;
    }
    .cardActivity {
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
        width: 96%;
    }
    .Titre_Activités {
        font-weight: 900;
        font-size: 1.4em;
        margin-top: 10px;
    }
    .titre_photo_activite {
        margin-left: 1rem;
    }
    .un,
    .second1,
    .second2,
    .trois,
    .four1,
    .four2 {
        width: 100%;
        margin-bottom: 50px;
    }
    .card1,
    .card2,
    .card3,
    .card4 {
        width: 100%;
        height: auto;
    }
    .un,
    .second1,
    .second2,
    .trois,
    .four1,
    .four2 img {
        height: 200px;
    }
    .four2 {
        margin-bottom: 25px;
    }
    .un img {
        height: 75%;
        width: 100%;
    }
    .trois img {
        height: 75%;
        width: 100%;
    }
    footer {
        width: 94%;
        margin: auto;
        padding: 0;
    }
    .footerContenu {
        flex-direction: column;
        height: auto;
        padding-left: 2rem;
        font-size: 0.8em;
        margin-top: 0px
    }
    .margeBlocFoot1 {
        margin-top: 20px;
        margin-left: 0%;
        margin-bottom: 20px;
    }
    .margeBlocFoot3 {
        margin-bottom: 20px;
    }
    .sizeBlocFoot {
        width: 100%;
    }
}
@media screen and (max-width: 720px) {
    header {
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .slogan {
        padding-left: 0;
        margin-left: 0;
    }
    .titreslogan {
        font-size: 19px;
        white-space: nowrap;
        font-weight: bolder;
    }
    .barSearch {
        min-width: 380px;
        width: 80%;
        margin-top: 25px;
        margin: auto;
    }
    .recherche {
        margin-left: 0px;
        padding-left: 0px;
        font-size: 18px;
    }
    .FiltersTitle {
        margin-right: 80%;
    }
    .searchFiltersFilter {
        margin-right: 0;
        margin-left: 45px;
    }
    .infos {
        margin-left: 0px;
    }
    #hebergement {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #containerPop {
        width: 90%;
        margin: auto;
    }
    #hebergments_marseille {
        width: 98%;
        margin: auto;
        height: auto;
    }
    .titrehebergements_a_marseille {
        margin-top: 50px;
        margin-left: 0;
        padding-left: 0;
    }
    .afficher_plus {
        padding-left: 0;
    }
    .box_carte {
        min-width: 490px;
        width: 100%;
        height: 250px;
    }
    .photo_hebergement {
        height: 60%;
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .hebergement_contenu {
        height: 50%;
        font-size: 0.9rem;
        margin-top: 0;
        padding-top: 0;
    }
    .cardActivity {
        margin: auto;
        padding: 0;
        width: 90%;
    }
    footer {
        width: 94%;
        margin: auto;
        padding: 0;
    }
}
@media screen and (max-width: 640px) {
    header {
        width: 92%;
        margin: auto;
    }
    /* responsive de la navigation en flex direction row*/
    .sizeNav {
        height: auto;
    }
    .sizeLien12 {
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .sizeLienmobile {
    width: 50%;
    border-top: 0;
    border-bottom: 3px solid #F2F2F2;
    }
    .sizeLiens {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .sizeLienmobile:hover {
    border-top: 0;
    border-bottom: 3px solid #0065FC;
    }
    /* responsive de ma barre de recherche */
    .barSearch {
        width: 280px;
        border: none;
        margin-left: 0px;
    }
    .recherche {
        width: 180px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
    }
    .buttonSearch {
        width: 50px;
        border-radius: 10px;
    }
    .desktopNone {
        display: block;
    }
    .mobileNone {
        display: none;
    }
    .parentIcon {
        margin-left: 0;
        padding-left: 0;
    }
    #hebergement {
        width: 96%;
        margin: 0;
        padding: 0;
    }
    #containerPop {
         width: 90%;
         margin: auto;
}
    .titre_les_plus_populaires {
        width: 96%;
    }
    .fa-chart-line {
        margin-right: 20px;
    }
    #hebergements_marseille {
        width: 92%;
        margin: auto;
        height: auto;
    }
    .cardActivity {
        width: 92%;
        margin: auto;
    }
    footer {
        width: 94%;
        margin: auto;
    }
}
@media screen and (max-width: 540px) {
    header {
        width: 92%;
    }
    #hebergement {
        width: 100%;
        margin: 0;
    }
    #containerPop {
        width: 90%;
        margin: auto;
    }
    #hebergements_marseille {
        margin: auto;
        width: 90%;
        padding: 0;
    }
    .box_carte {
        min-width: 500px;
        width: 100%;
        height: 280px;
    }
}
@media all and (max-width: 480px) {
    header {
        margin: auto;
        width: 90%;
        padding: 0;
    }
    .logo {
        margin-left: 10px;
        padding-left: 0;
    }
    .sizeLien {
        margin-right: 0;
    }
    .titreslogan {
        font-size: 1.1rem;
        white-space: normal;
        margin: 20px 0px 20px 0px;
    }
    .txtSlogan {
        margin-left: 0;
        padding-left: 0;
    }
    .barSearch {
        margin-top: 20px;
        min-width: 300px;
        width: 90%;
        border: none;
        margin: auto;
        font-size: 1rem;
        margin-left: 0;
    }
    .recherche {
        width: 100%;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        margin-bottom: 10px;
        padding-left: 20px;
    }
    .parentIcon {
        margin-left: 12px;
        font-size: 18Px;
    }
    .Filters {
        margin-left: 0;
        margin-top: 30px;
        width: 96%;
    }
    .FiltersTitle {
        margin-right: 80%;
    }
    .searchFiltersFilter {
        margin-left: 10px;
    }
    .infos {
        font-size: 10px;
        margin-left: 0px;
    }
    #hebergment {
        width: 98%;
        margin: auto;
    }
    #containerPop {
        padding-bottom: 30px;
        margin-bottom: 20px;
        width: 80%;
        margin: auto;
        min-height: auto;
    }
    #hebergements_marseille {
        margin: auto;
        padding: 0;
        width: 100%;
        height: auto;
    }
    .titrehebergements_a_marseille {
        font-size: 20px;
        font-weight: bolder;
        margin-left: 0;
        padding-left: 25px;
        height: auto;
    }
    .afficher_plus {
        font-size: 16px;
        font-weight: bolder;
        padding-left: 25px;
    }
    .box_carte {
        height: 200px;
        min-width: 340px;
        width: 100%;
        box-shadow: 1px 10px 10px #f2f2f2;
    }
    .photo_hebergement {
        width: 100%;
        height: 50%;
    }
    .hebergement_contenu {
        width: 100%;
        height: 50%;
    }
    .Titre_Activites {
        padding-left: 20px;
    }
    .cardActivity {
    width: 90%;
    margin: auto;
    }
    footer {
        margin: auto;
        padding: 0;
        width: 90%;
    }
}
@media all and (min-width: 360px) and (max-width: 410px) {
    header {
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .titreslogan {
        margin-left: 10px;
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 0px;
    }
    .txtSlogan {
        font-size: 17px;
        font-weight: 400;
        margin-top: 15px;
        margin-left: 10px;
    }
    .barSearch {
        min-width: 270px;
        margin-top: 70px;
        width: 90%;
        margin-left: 10px;
        padding-left: 0;
    }
    .Filters {
        width: 90%;
        margin-left: 10px;
        font-weight: bolder;
        font-size: 13px;
    }
    .FiltersTitle {
        margin-right: 80%;
        margin-left: 10px;
    }
    .searchFiltersFilter {
        font-size: 12px;
        font-weight: 900;
        margin-left: 10px;
        padding-right: 10px;
    }
    .infos {
        margin-left: 10px;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
    }
    #hebergment {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #containerPop {
        width: 85%;
        margin: auto;
        border-radius: 0;
        padding-bottom: 40px;
    }
    .hebergement_populaire_contenu {
        width: 80%;
        padding-left: 12px;
    }
    .etoilespop {
        margin-top: 20px;
    }
    #hebergements_marseille {
        width: 100%;
        margin: auto;
    }
    .titrehebergements_a_marseille {
        margin-left: 0;
        font-weight: bolder;
        padding-left: 20px;
    }
    .box_carte {
        min-width: 330px;
        width: 100%;
        height: 220px;
    }
    .photo_hebergement {
        width: 100%;
        height: 120px;
    }
    .hebergement_contenu {
        height: 100px;
    }
    .afficher_plus {
        margin-left: 0;
        padding-left: 20px;
        white-space: nowrap;
        font-weight: 900;
    }
    .Titre_Activites {
        padding-left: 12px;
        font-weight: 900;
    }
    .cardActivity {
        width: 92%;
        margin: auto;
        padding: 0;
    }
    footer {
        margin: auto;
        padding: 0;
        width: 92%;
    }
}
@media all and (min-width: 280px) and (max-width: 359px) {
    body, html {
        width: 98%;
    }
    #bloc_page {
        margin: 0;
        padding: 0;
        width: 98%;
    }
    header {
        width: 100%;
        margin-left: 5px;
        padding: 0;
    }
    .logo {
        margin-left: 0px;
    }
    .navBar {
        width: 100%;
    }
    .sizeLiens {
        font-size: 14px;
        font-weight: 800;
    }
    .titreslogan {
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 0px;
    }
    .txtSlogan {
        font-size: 15px;
        font-weight: 400;
        margin-top: 15px;
    }
    .barSearch {
        min-width: 270px;
        margin-top: 30px;
        width: 70%;
        margin-left: 0;
        padding-left: 0;
    }
    .Filters {
        width: 80%;
    }
    .FiltersTitle {
        margin-right: 80%;
    }
    .searchFiltersFilter {
        font-size: 12px;
        font-weight: 900;
        padding-left: 0;
        margin-left: 0;
    }
    .slogan {
    padding: 0;
    }
    .infos {
        margin-left: 10px;
        width: 90%;
        font-size: 14px;
    }
    #hebergment {
        margin: 0;
        padding: 0;
        width: 98%;
    }
    .bloc1hosting {
        margin: 0;
        padding: 0;
    }
    .bloc2hosting {
        margin: 0;
        padding: 0;
    }
    #containerPop {
        width: 96%;
        margin: auto;
        height: auto;
        padding: 3px;
        border-radius: 0;
        padding-bottom: 40px;
    }
    .titre_les_plus_populaires {
        white-space: nowrap;
        font-size: 18px;
    }
    #hebergements_marseille {
        width: 96%;
        margin: auto;
        height: auto;
    }
    .titrehebergements_a_marseille {
        padding-left: 0px;
        font-size: 18px;
    }
    .box_carte {
        min-width: 230px;
        width: 92%;
        height: 220px;
        padding: 3px;
    }
    .photo_hebergement {
        width: 100%;
        height: 120px;
    }
    .hebergement_contenu {
        width: 90%;
        height: auto;
    }
    .afficher_plus {
        margin-left: 0;
        padding-left: 0px;
        white-space: nowrap;
    }
    .Titre_Activites {
        padding-left: 0;
        width: 90%;
    }
    .cardActivity {
        width: 96%;
        margin: auto;
        padding: 0;
    }
    footer {
        margin: auto;
        padding: 0;
        width: 90%;
        height: auto;
    }
    .footerContenu {
        padding-left: 8px;
    }
    .margeBlocFoot1 {
        margin-top: 5px;
    }
    .sizeBlocFoot {
        margin-top: 30px;
    }
}