/*éléments de base*/
@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

	body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: #181818;
}


.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.decorationNone {
    text-decoration: none;
}
.bordureNone {
    border: none;
}

/* nav*/
.sizeNav {
    height: 100px;
}

.sizeLiens {
    width: 45%;
}

.sizeLien {
    width: 140px;
    height: 99px;
}
.texteGras {
    font-weight:bold;
}

.colorBleu {
    color: #0065FC
}

.colorBleuClair {
    color: #deebff;
}

.colorGris {
    color: #f2f2f2;
}

.backBleu {
    background-color: #0065FC;
}
.backBleuClair {
    background-color: #deebff;
}

.backGris {
    background-color: #f2f2f2;
}

.colorLien2 {
    color:black;
}

.bordureNav {
    border-top: 1px solid transparent;
}

.bordureNav:hover {
    border-top: 1px solid #0065FC;
    cursor: pointer;
}

.bordureNav:hover > a {
    color: #0065FC;
}

.marglogo {
    margin-bottom: 7px;
}
  
/* ma header*/
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}

.paddingSearch {
padding-left: 20px;
}

.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color:black;
    font-weight: bold;
}

.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: 0.5px solid #f2f2f2;
}
ul {
    list-style-type: none;
    display: flex;
}




/* footer*/
#footer {
    background-color: #f2f2f2

}
div ul {
    list-style-type: none;
    display: flex;
}
